main {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.search {
    width: 350px;
    display: flex;
    flex-basis: 100px;

}
.headmain {
    display: flex;
    justify-content: center;
    width: auto;
    padding: 15px;
    margin: 5px;
    background-image: linear-gradient(90deg, rgb(0, 140, 255), rgb(247, 175, 21));
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card.col-4 {
    margin: 10px;
    width: 20em;
}

.btn.btn-primary{
    margin-top: 10px;
    width: 15em;
}

.custom-fiveday {
    margin: auto auto;
    align-items: center;
}

.custom-forecast {
    display: block;
    margin: 10px;
    border: 1px solid rgb(206, 206, 206);
    border-radius: 5px;
    flex: 0 0 auto;
    max-height: 300px;
    height: 250px;
}

.forecast .uvi {
    border-radius: 2px;
    border-width: 10px;
}

#citysearch {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

button {
    margin: 5px;
}

.fiveday {
    display: flex;
    margin: 25px;
    justify-content: center;
}

.city {
    display: flex;
}

.fivedaycard{
    text-align: center;
    background-color: rgba(77, 148, 206, 0.719);
    margin: 10px;
    width: 200px;
    border-radius: 10px;
}

/* UV Index */

.uvi-low {
    background-color: green;
}
.uvi-moderate {
    background-color: yellow;
}
.uvi-high {
    background-color: orange;
}
.uvi-very {
    background-color: red;
}
.uvi-xtreme {
    background-color: purple;
}